# Supabase Authentication & Database Configuration
# Dapatkan nilai ini dari Dashboard Supabase -> Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL="https://rntyhjsdftjfoztggxio.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_I5lg6oFzXfi09XVzTml0_A_Y2oTB0BZ"

# Pricing & Discount Configuration
NEXT_PUBLIC_PRICE_PRO_ORIGINAL="199.000"
NEXT_PUBLIC_PRICE_PRO="79.000"
NEXT_PUBLIC_PRICE_PRO_DISCOUNT="60"
NEXT_PUBLIC_PRICE_PRO_RAW="79000"
NEXT_PUBLIC_PRICE_ADVANCE="Coming Soon"

# Official Customer Support Contacts
NEXT_PUBLIC_SUPPORT_PHONE="6287769005244"
NEXT_PUBLIC_SUPPORT_EMAIL="asking@godiscus.com"

# Meta Pixel (Sales Funnel Measurement)
NEXT_PUBLIC_META_PIXEL_ID="1555283875673178"
